{%extends 'admin/base.html' %}
{%block content%}
    <h1 class="text-center mb-4">Welcome to the Admin Panel</h1>
    <div class="d-flex flex-column align-items-center">
        <a href="{{ url_for('admin.users') }}" class="btn btn-primary mb-2" style="width: 200px;">Manage Users</a>
        <a href="{{ url_for('admin.tickets') }}" class="btn btn-secondary mb-2" style="width: 200px;">Tickets</a>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{%endblock%}

